::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #5e717d;
}
ul { margin: 0; }
ul, li { list-style: none; }
li>a { color: #fff; }
a { text-decoration: none; }
body {
	margin: 0;
	padding: 0;
	background-color: #eaeaea;
	font-family: "Ubuntu", "Lucida Sans", sans-serif;
}
header {
	width: 100%;
	height: 100px;
	background-color: #d6a5a5;
	*background-color: #000;
	background-image: url('../images/sprite.png');
	background-position-y: 700px;
}
.logo {
	background-image: url('../images/sprite.png');
	background-position: 0 0;
	width: 197px;
	height: 73px;
	position: relative;
	top: 10px;
	left: 9%;
}
.online {
	background-color: rgba(0, 0, 0, 0.35);
	position: absolute;
	top: 15px;
	right: 10%;
	padding: 20px;
	font-size: 18px;
	color: #fff;
	border-radius: 5px;
}
.menu {
	background-color: #bbcef7;
	*width: 100%;
	height: 45px;
	padding-left: 7%;
	border-bottom: 4px solid #fff;
	margin-bottom: 5px;
}
.menu>ul { display: -webkit-inline-box; }
.tag { padding: 13px; height: 19px; }
.tag>ul { display: none; }
.tag:hover>ul { display: block; }
.menu_two { position: absolute ;right: 11%; }
.menu_two>.purple { background-color: #9b59b6; }
.menu_two>.green { background-color: #2ecc71; }
.menu_two>.red { background-color: #e74c3c; }
.menu_two>.purple:hover {  }
.menu_two>.green:hover {  }
.menu_two>.red:hover {  }

.blue { border-bottom: 4px solid #3498db; }
.orange { border-bottom: 4px solid #e67e22; }
.red { border-bottom: 4px solid #e74c3c; }
.yellow { border-bottom: 4px solid #f1c40f; }
.purple { border-bottom: 4px solid #9b59b6; }
.green { border-bottom: 4px solid #2ecc71; }
.blue:hover { background-color: #3498db; }
.orange:hover { background-color: #e67e22; }
.red:hover { background-color: #e74c3c; }
.yellow:hover { background-color: #f1c40f; }
.purple:hover { background-color: #9b59b6; }
.green:hover { background-color: #2ecc71; }
.blue:active { background-color: #3498db; }

.container { padding: 0 10%; }
footer {
	background-color: #000;
	width: 100%;
	height: 80px;
}