::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bdc3c7;
}
body {
	background-color: #eaeaea;
	*background-image: url('../images/sprite.png');
	margin: 0;
	padding: 0;
	font-family: "Ubuntu", "Lucida Sans", sans-serif;
}
input {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	margin-bottom: 5px;
	padding: 15px;
	font-size: 16px;
	color: #675d5d;
}
ul { display: table-cell; }
ul, li { list-style: none; }
input[type="text"], input[type="password"], input[type="date"] { width: 90%; }
input[type="date"] { height: 18px; }
input[type="submit"], button {
	text-align: center;
	padding: 12px 24px;
	box-shadow: 0 3px 0 1px rgba(0,0,0,.3);
	color: #fff;
	border-radius: 5px;
	border-width: 2px;
	margin-bottom: 7px;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
}
.input_blue { border-bottom: 2px solid #3498db; }
.input_orange { border-bottom: 2px solid #e67e22; }
.input_red { border-bottom: 2px solid #e74c3c; }
.input_yellow { border-bottom: 2px solid #f1c40f; }
.input_purple { border-bottom: 2px solid #9b59b6; }
.input_green { border-bottom: 2px solid #2ecc71; }
.submit_login { background-color: #00813e; border-color: #8eda55; width: 100%; }
.submit_login:hover { background-color: #00ab54; border-color: #b9f373; }
.submit_register { background-color: #0f7dbc; border-color: #2a9cde; width: 100%; }
.submit_register:hover { background-color: #2a9cde; border-color: #53bdf9; }
.container {
	width: 1000px;
	height: 398px;
	display: flex;
	margin: 10px auto;
	*background-color: #000;
}
.box { display:inline-block; height:100%; padding: 10px; }
.left {
	width: 30%;
	text-align: center;
	border-right: 2px solid rgba(0, 0, 0, 0.09);
	*background-color: red;
}
.right {
	width: 70%;
	*background-color: green;
}
.logo {
	background-image: url('../images/sprite.png');
	background-position: 0 0;
	width: 197px;
	height: 73px;
	margin: 0 auto 50px auto;
}
.container_login>form>.submit_login { width: 100%; margin-top: 15px; }
.container_register { width: 100%; height: 100%; }
.title { padding: 5px; color: #fff; }
.reg { width: 46%; padding: 0; display: inline-table; }
.add { height: 50px; margin-bottom: 3px; }
footer {
	background-color: #000;
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
}